@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Montserrat:wght@200;300;400;700;800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

// custom variables

$enable-negative-margins: true;
$primary: #9ED5E5;
$secondary: #D3E6F2;
$navbar-light-toggler-border-color: transparent;
$font-family-sans-serif: Montserrat,
Arimo;
$text-muted: #50749A !default;

section {
	padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Arimo;
	color: #0B182B;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: Arimo;
	color: #0B182B;
}

a,
p,
label,
small {
	font-family: Arimo;
	color: #0B182B;
}

.navbar-brand {
	font-family: Montserrat;
}

.intro {
	font-family: Montserrat;
}

@media (max-width: 767.98px) {
	.intro {
		font-size: 3rem;
	}
}

// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: ("100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: ("blue": $blue,
	"indigo": $indigo,
	"purple": $purple,
	"pink": $pink,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"teal": $teal,
	"cyan": $cyan,
	"white": $white,
	"gray": $gray-600,
	"gray-dark": $gray-800) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: ("primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark) !default;

$custom-theme-colors: ("dark-primary": #0284B3);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';